@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: 'Poppins', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title {
    line-height: 50px;
}

li {
    display: inline-block;
    margin: 20px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #6C4AB6;
    transition: 0.3ms all;
}

a:nth-child(5) {
    border: 4px solid #6C4AB6;
    padding: 10px;
    border-radius: 20px;
}

a:nth-child(5):hover {
    color: white;
    background-color: #6C4AB6;
}

h1 {
    font-weight: 200;
    font-size: 3rem;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

h2 {
    font-size: 60px;
    line-height: 52px;
    font-family: 'Noto Sans', sans-serif;
}

span {
    color: #6C4AB6;
}

p {
    margin-top: 50px;
    line-height: 20px;
    max-width: 500px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

img {
    width: 600px;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;

}

form [type="submit"] {
    height: 50px;
    width: 50%;
    background-color: #6C4AB6;
    color: white;
    font-weight: bold;
}

form [type="submit"]:hover {
    cursor: pointer;
}

input {
    margin-top: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;

}